<h2>Contact me</h2>
<form action="/contact/send-message" method="POST" enctype="multipart/form-data">
  {{#if isError}}
    <div class="isError">
      {{errorMessage}}
    </div>
  {{/if}}
  {{#if successMessage}}
    <div class="isSent">
      {{successMessage}}
    </div>
  {{/if}}
  
  <label>
    Your name: <input type="text" name="author" required>
  </label>
  <label>
    Your email: <input type="email" name="sender" required>
  </label>
  <label>
    Title: <input type="text" name="title" required>
  </label>
  <label>
    Project design:
    <input type="file" id="file" name="file" accept=".png,.jpg,.jpeg,.gif" required>
</label>
   <label>
    Message: <textarea name="message" required></textarea>
  </label>
  <button type="submit">Send message</button>
</form>